<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-to-" data-toc-modified-id="-to--1"><span class="toc-item-num">1&nbsp;&nbsp;</span> to </a></span><ul class="toc-item"><li><span><a href="#Import" data-toc-modified-id="Import-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import</a></span></li><li><span><a href="#URLs" data-toc-modified-id="URLs-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>URLs</a></span></li><li><span><a href="#Request-&amp;-Response" data-toc-modified-id="Request-&amp;-Response-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Request &amp; Response</a></span></li><li><span><a href="#Parse-HTML-content" data-toc-modified-id="Parse-HTML-content-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Parse HTML content</a></span></li><li><span><a href="#Title-of-HTML-content" data-toc-modified-id="Title-of-HTML-content-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Title of HTML content</a></span></li><li><span><a href="#Find-All-Tables" data-toc-modified-id="Find-All-Tables-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Find All Tables</a></span></li><li><span><a href="#Find-Right-Table-to-scrap" data-toc-modified-id="Find-Right-Table-to-scrap-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Find Right Table to scrap</a></span></li><li><span><a href="#Get-the-Rows" data-toc-modified-id="Get-the-Rows-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Get the Rows</a></span></li><li><span><a href="#Get-Table-Header-Attributes" data-toc-modified-id="Get-Table-Header-Attributes-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Get Table Header Attributes</a></span></li><li><span><a href="#Get-Table-Data" data-toc-modified-id="Get-Table-Data-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Get Table Data</a></span></li><li><span><a href="#Case-1:-Dataset-mismatch-with-Header-attributes" data-toc-modified-id="Case-1:-Dataset-mismatch-with-Header-attributes-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Case 1: Dataset mismatch with Header attributes</a></span></li><li><span><a href="#Case-2:-No-Dataset-mismatch-with-Header-attributes" data-toc-modified-id="Case-2:-No-Dataset-mismatch-with-Header-attributes-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Case 2: No Dataset mismatch with Header attributes</a></span></li><li><span><a href="#Appendix" data-toc-modified-id="Appendix-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Appendix</a></span></li><li><span><a href="#Request-using-urllib" data-toc-modified-id="Request-using-urllib-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>Request using urllib</a></span></li><li><span><a href="#Find-All-Links" data-toc-modified-id="Find-All-Links-1.15"><span class="toc-item-num">1.15&nbsp;&nbsp;</span>Find All Links</a></span></li></ul></li></ul></div>

Notes: 

Web scraping is a computer software technique of extracting information from websites. This technique mostly focuses on the transformation of unstructured data (HTML format) on the web into structured data (database or spreadsheet).

BeautifulSoup: It is an incredible tool for pulling out information from a webpage.BeautifulSoup does not fetch the web page for us. 

This syntax has various tags as elaborated below:

<!DOCTYPE html> : HTML documents must start with a type declaration
HTML document is contained between <html> and </html>
The visible part of the HTML document is between <body> and </body>
HTML headings are defined with the <h1> to <h6> tags
HTML paragraphs are defined with the <p> tag
An unordered list starts with the <ul> tag. Each list item starts with the <li> tag.
    
HTML links are defined with the <a> tag, “<a href=“http://www.test.com”>This is a link for test.com</a>”

An HTML table is defined with the <table> tag.
Each table row is defined with the <tr> tag. A table header is defined with the <th> tag. By default, table headings are bold and centered. A table data/cell is defined with the <td> tag.
    
    https://www.w3schools.com/html/html_tables.asp

## Import

In [79]:
# Requests
import urllib.request #
import requests

# for xml & html scrapping 
import lxml.html as lh
from bs4 import BeautifulSoup

# for table analysis
import pandas as pd

# write to csv
import csv

## URLs

In [121]:
url1 = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
url2 = "https://en.wikipedia.org/wiki/List_of_national_independence_days"
url3 = "https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India"

## Request & Response

In [181]:
# get the web content
response = requests.get(url2, timeout=10)
response

## Parse HTML content

In [182]:
# parse response content to html
soup = BeautifulSoup(response.content, 'html.parser')

In [183]:
# Prettify the BeautifulSoup object: pretty_soup
pretty_soup = soup.prettify()

## Title of HTML content

In [184]:
# title
soup.title.string

'List of national independence days - Wikipedia'

## Find All Tables

In [136]:
# find all the tables in the html
all_tables=soup.find_all('table')

## Find Right Table to scrap

In [185]:
#right_table=soup.find('table', {"class":'wikitable sortable plainrowheaders'})
#right_table=soup.find('table', {"class":'wikitable sortable'})
right_table=soup.find('table', {"class":'wikitable sortable'})
#print(right_table)

In [186]:
for row in right_table.findAll("tr"):
    cells = row.findAll('td')

len(cells)

5

## Get the Rows

In [187]:
rows = right_table.findAll("tr")
len(rows)

192

## Get Table Header Attributes

In [193]:
# header attributes of the table
header = [th.text.rstrip() for th in rows[0].find_all('th')]
print(header)
print('------------')
print(len(header))

['Country', 'Date of holiday', 'Year celebrated', 'Event celebrated', 'Name of holiday']
------------
5

## Get Table Data

In [188]:
lst_data = []
for row in rows[1:]:
            data = [d.text.rstrip() for d in row.find_all('td')]
            lst_data.append(data)

In [189]:
# sample records
lst_data[0:3]

[['\xa0Afghanistan',
  'August\xa019',
  '1919',
  'Independence from the United Kingdom in 1919.',
  'Afghan Independence Day'],
 ['\xa0Albania',
  'November\xa028',
  '1912',
  'Declared by Ismail Qemal Vlora in 1912 and signaled the end of five centuries of Ottoman rule.',
  'Independence Day/Dita e Pavarësisë'],
 ['\xa0Algeria',
  'July\xa05',
  '1962',
  'Independence from France in 1962.',
  'Independence Day (Algeria)']]

In [190]:
len(lst_data[0])

5

## Case 1: Dataset mismatch with Header attributes

Each data records has 6 attributes, whereas header has 7 attributes. "State" is missing in the data attributes. Reason is that it has captured as 'th' tag

In [177]:
list_row = []
for row in right_table.findAll("tr"):
    list_row.append(row)

    
print('Number of row :',len(list_row))
print('----------------')
print(list_row[1])
print('----------------')
print('Second Attribute is has link reference')
print('----------------')
print(list_row[1].findAll('th'))
print('----------------')
print(list_row[1].find('a').text)

Number of row : 37
----------------
<tr>
<td>1
</td>
<th scope="row"><a href="/wiki/Andaman_and_Nicobar_Islands" title="Andaman and Nicobar Islands">Andaman and Nicobar Islands</a> <img alt="union territory" data-file-height="14" data-file-width="9" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/3/37/Dagger-14-plain.png" width="9"/>
</th>
<td><a href="/wiki/Port_Blair" title="Port Blair">Port Blair</a>
</td>
<td> —
</td>
<td>Kolkata
</td>
<td>1955
</td>
<td>Calcutta (1945–1955)
</td></tr>
----------------
Second Attribute is has link reference
----------------
[<th scope="row"><a href="/wiki/Andaman_and_Nicobar_Islands" title="Andaman and Nicobar Islands">Andaman and Nicobar Islands</a> <img alt="union territory" data-file-height="14" data-file-width="9" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/3/37/Dagger-14-plain.png" width="9"/>
</th>]
----------------
Andaman and Nicobar Islands

In [178]:
#Generate lists
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
for row in right_table.findAll("tr"):
    cells  =  row.findAll('td')
    states = row.findAll('th') # second attribute has th(header) tag 
    if len(cells)==6: # length of the table record
        A.append(cells[0].find(text=True))
        B.append(states[0].find(text=True))
        C.append(cells[1].find(text=True))
        D.append(cells[2].find(text=True))
        E.append(cells[3].find(text=True))
        F.append(cells[4].find(text=True))
        G.append(cells[5].find(text=True))

In [180]:
#import pandas to convert list to data frame
import pandas as pd
df=pd.DataFrame(A,columns=['Number'])
df['State/UT']=B
df['Admin_Capital']=C
df['Legislative_Capital']=D
df['Judiciary_Capital']=E
df['Year_Capital']=F
df['Former_Capital']=G
df.head(5)

,Number,State/UT,Admin_Capital,Legislative_Capital,Judiciary_Capital,Year_Capital,Former_Capital
0,1,Andaman and Nicobar Islands,Port Blair,—,Kolkata,1955,Calcutta (1945–1955)
1,2,Andhra Pradesh,Hyderabad,Amaravati,Amaravati,1956,Kurnool
2,3,Arunachal Pradesh,Itanagar,Itanagar,Guwahati,1986,—
3,4,Assam,Dispur,Guwahati,Guwahati,1975,Shillong
4,5,Bihar,Patna,Patna,Patna,1912,—

## Case 2: No Dataset mismatch with Header attributes

In [191]:
list_row = []
for row in right_table.findAll("tr"):
    list_row.append(row)

    
print('Number of row :',len(list_row))
print('----------------')
print(list_row[1])
print('----------------')
print('Second Attribute is has link reference')
print('----------------')
print(list_row[1].findAll('th'))
print('----------------')
print(list_row[1].find('a').text)

Number of row : 192
----------------
<tr style="vertical-align: top;">
<td><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Afghanistan.svg/23px-Flag_of_Afghanistan.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Afghanistan.svg/35px-Flag_of_Afghanistan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Afghanistan.svg/45px-Flag_of_Afghanistan.svg.png 2x" width="23"/> </span><a href="/wiki/Afghanistan" title="Afghanistan">Afghanistan</a>
</td>
<td><span data-sort-value="08-19 !">August 19</span>
</td>
<td>1919
</td>
<td>Independence from the <a href="/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a> in 1919.
</td>
<td><a href="/wiki/Afghan_Independence_Day" title="Afghan Independence Day">Afghan Independence Day</a>
</td></tr>
----------------
Second Attribute is has link reference
----------------
[]
----------------
Afghanistan

In [206]:
#Generate lists
#A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
#G=[]
for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    if len(cells)==5: #Only extract table body not heading
        #A.append(cells[0].find(text=True))
        B.append(cells[0].find('a').text)  # fetch the text of the url in td tag. 
        C.append(cells[1].find(text=True))
        D.append(cells[2].find(text=True))
        E.append(cells[2].find(text=True))
        F.append(cells[4].find(text=True))
        #G.append(cells[5].find(text=True))

In [208]:
for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    
cells[4]

<td>
</td>

In [209]:
#import pandas to convert list to data frame
import pandas as pd
df=pd.DataFrame(B,columns=['Country'])
df['Date of holiday']=C
df['Year celebrated']=D
df['Event celebrated']=E
df['Name of holiday']=F
#df['Former_Capital']=G
df

,Country,Date of holiday,Year celebrated,Event celebrated,Name of holiday
0,Afghanistan,August 19,1919,1919,Afghan Independence Day
1,Albania,November 28,1912,1912,Independence Day/Dita e Pavarësisë
2,Algeria,July 5,1962,1962,Independence Day (Algeria)
3,Angola,November 11,1975,1975,
4,Anguilla,May 30,1967,1967,Anguilla Day
5,Antigua and Barbuda,November 1,1981,1981,Independence Day
6,Argentina,July 9,1816,1816,Independence Day
7,Armenia,May 28,1918,1918,
8,Australia,January 1,1901,1901,Independence Day (not to be confused with
9,Austria,October 26,1955,1955,National Day
10,Azerbaijan,May 28,1918,1918,Republic Day
11,Bahamas,July 10,1973,1973,Bahamian Independence Day
12,Bahrain,December 16,1971,1971,Bahrain Independence Day
13,Bangladesh,March 26,1971,1971,Independence Day of Bangladesh
14,Barbados,November 30,1966,1966,Independence Day
15,Belarus,July 3,1944,1944,Independence Day of Belarus
16,Belgium,July 21,1831,1831,Belgian National Day
17,Belize,September 21,1981,1981,September Celebrations
18,Benin,August 1,1960,1960,
19,Bolivia,August 6,1825,1825,
20,Bosnia and Herzegovina,March 1,1992,1992,Independence Day (Bosnia and Herzegovina)
21,Botswana,September 30,1960.1966,1960.1966,Independence Day (Botswana)
22,Brazil,September 7,1822,1822,Dia da Independência
23,Brunei,January 1,1984,1984,National Day
24,Bulgaria,March 3,1878,1878,
25,Burkina Faso,August 5,1960,1960,
26,Burundi,July 1,1962,1962,Independence Day
27,Cambodia,November 9,1953,1953,
28,Cameroon,January 1,1960,1960,
29,Canada,July 1,1867,1867,Canada Day
...,...,...,...,...,...
148,South Africa,December 11,1931,1931,
149,South Sudan,July 9,2011,2011,
150,Sri Lanka,February 4,1948,1948,Independence Day (Sri Lanka)
151,Sudan,January 1,1956,1956,
152,Suriname,November 25,1975,1975,
153,Sweden,June 6,1523,1523,National Day of Sweden
154,Switzerland,August 1,1291,1291,Swiss National Day
155,Syria,April 17,1946,1946,Evacuation Day
156,Taiwan,October 10,1991,1991,National Day of the Republic of China
157,Tajikistan,September 9,1991,1991,Independence Day (Tajikistan)
158,Tanzania,December 9,1961,1961,
159,Togo,April 27,1960,1960,
160,Tibet,February 13,1913,1913,Tibetan Independence Day
161,Tonga,June 4,1970,1970,
162,Trinidad and Tobago,August 31,1962,1962,
163,Tunisia,March 20,1956,1956,
164,Turkmenistan,October 27,1991,1991,Independence Day (Turkmenistan)
165,Tuvalu,October 1,1978,1978,
166,Uganda,October 9,1962,1962,
167,Ukraine,August 24,1991,1991,Independence Day of Ukraine
168,United Arab Emirates,December 2,1971,1971,National Day
169,United States,July 4,1776,1776,Independence Day (United States)
170,Uruguay,August 25,1825,1825,Declaratoria de la Independencia
171,Uzbekistan,September 1,1991,1991,Independence Day (Uzbekistan)
172,Vanuatu,July 30,1980,1980,
173,Venezuela,July 5,1811,1811,
174,Vietnam,September 2,1945,1945,Independence Day (Vietnam)
175,Yemen,November 30,1967,1967,
176,Zambia,October 24,1964,1964,
177,Zimbabwe,April 18,1980,1980,

In [85]:
 with open('output.csv', 'w') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(header)
        for row in rows[1:]:
            data = [th.text.rstrip() for th in row.find_all('td')]
            writer.writerow(data)

In [68]:
for row in rows[1:]:
            data = [th.text.rstrip() for th in row.find_all('td')]

In [69]:
data

['–',
 ' Pitcairn Islands (UK)',
 '50',
 'January 1, 2019',
 '0.00000065%',
 'Official estimate']

In [62]:
#Generate lists
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
for row in right_table.findAll("tr"):
    cells = row.findAll('td')
    states=row.findAll('th') #To store second column data
    if len(cells)==6: #Only extract table body not heading
        A.append(cells[0].find(text=True))
        #B.append(states[0].find(text=True))
        C.append(cells[1].find(text=True))
        D.append(cells[2].find(text=True))
        E.append(cells[3].find(text=True))
        F.append(cells[4].find(text=True))
        G.append(cells[5].find(text=True))

In [64]:
#import pandas to convert list to data frame
import pandas as pd
df=pd.DataFrame(A,columns=['Number'])
#df['State/UT']=B
df['Admin_Capital']=C
df['Legislative_Capital']=D
df['Judiciary_Capital']=E
df['Year_Capital']=F
df['Former_Capital']=G
df

,Number,Admin_Capital,Legislative_Capital,Judiciary_Capital,Year_Capital,Former_Capital
0,1,,"1,397,180,000","May 4, 2019",18.1%,Official population clock
1,2,,"1,346,760,000","May 4, 2019",17.5%,Official population clock
2,3,,"329,142,000","May 4, 2019",4.27%,Official population clock
3,4,,"268,074,600","July 1, 2019",3.48%,Official annual projection
4,5,,"209,859,000","May 4, 2019",2.72%,Official population clock
5,6,,"204,545,000","May 4, 2019",2.66%,Official population clock
6,7,,"193,392,517","July 1, 2016",2.51%,Official estimate
7,8,,"166,493,000","May 4, 2019",2.16%,Official population clock
8,9,,"146,793,744","January 1, 2019",1.91%,Official estimate
9,10,,"126,577,691","July 1, 2019",1.64%,Official annual projection
10,11,,"126,230,000","April 1, 2019",1.64%,Monthly provisional estimate
11,12,,"107,585,000","May 4, 2019",1.4%,Official population clock
12,13,,"98,665,000","July 1, 2019",1.28%,Official annual projection
13,14,,"98,653,400","May 4, 2019",1.28%,Official population clock
14,15,,"95,354,000","July 1, 2019",1.24%,Official annual projection
15,16,,"86,727,573","July 1, 2019",1.13%,UN Projection
16,17,,"82,979,100","September 30, 2018",1.08%,Official estimate
17,18,,"82,419,800","May 4, 2019",1.07%,Official population clock
18,19,,"82,003,882","December 31, 2018",1.06%,Official annual estimate
19,20,,"66,992,000","April 1, 2019",0.87%,Monthly official estimate
20,21,,"66,359,180","May 4, 2019",0.86%,Official population clock
21,22,,"66,040,229","June 30, 2017",0.86%,Official annual estimate
22,23,,"60,375,749","November 30, 2018",0.78%,Monthly official estimate
23,24,,"57,725,600","July 1, 2018",0.75%,Official annual estimate
24,25,,"55,890,747","July 1, 2019",0.73%,Official annual projection
25,26,,"54,339,766","July 1, 2019",0.71%,Official annual projection
26,27,,"52,214,791","July 1, 2019",0.68%,UN projection
27,28,,"51,811,167","July 1, 2019",0.67%,Official annual estimate
28,29,,"49,850,000","July 1, 2019",0.65%,UN projection
29,30,,"46,733,038","July 1, 2018",0.61%,Official estimate
...,...,...,...,...,...,...
210,–,,"55,992","January 1, 2019",0.00073%,Official estimate
211,188,,"55,500","July 1, 2018",0.00072%,Official annual estimate
212,–,,"53,532","October 15, 2015",0.00069%,Preliminary 2015 census result
213,–,,"51,540","March 1, 2019",0.00067%,Monthly official estimate
214,–,,"41,369","July 1, 2018",0.00054%,Official estimate
215,–,,"40,614","January 1, 2018",0.00053%,Official estimate
216,189,,"38,380","December 31, 2018",0.0005%,Official semi annual estimate
217,190,,"38,300","December 31, 2018",0.0005%,Official annual estimate
218,–,,"35,746","January 1, 2016",0.00046%,Official estimate
219,–,,"33,573","December 31, 2015",0.00044%,Official estimate
220,191,,"33,420","February 28, 2019",0.00043%,Official monthly estimate
221,–,,"32,206","July 1, 2019",0.00042%,UN projection
222,192,,"17,900","July 1, 2018",0.00023%,Official annual estimate
223,–,,"15,200","July 1, 2018",0.0002%,Official annual estimate
224,–,,"15,174","July 1, 2019",0.0002%,UN projection
225,–,,"11,700","July 1, 2018",0.00015%,Official annual estimate
226,193,,"11,000","July 1, 2018",0.00014%,Official annual estimate
227,194,,"10,200","July 1, 2018",0.00013%,Official annual estimate
228,–,,"9,793","January 1, 2016",0.00013%,Official estimate
229,–,,"6,008","January 1, 2016",0.000078%,Official estimate
230,–,,"5,633","February 7, 2016",0.000073%,2016 census result
231,–,,"5,220","July 1, 2019",0.000068%,UN projection
232,–,,"3,198","October 9, 2016",0.000042%,2016 census result
233,–,,"1,928","June 30, 2018",0.000025%,Official estimate
234,–,,"1,756","June 30, 2018",0.000023%,Official estimate
235,–,,"1,520","July 1, 2018",0.000020%,Official annual estimate
236,–,,"1,400","July 1, 2018",0.000018%,Official annual estimate
237,195,,800,"January 1, 2014",0.000010%,Official estimate
238,–,,538,"June 30, 2018",0.0000070%,Official estimate
239,–,,50,"January 1, 2019",0.00000065%,Official estimate

## Appendix

## Request using urllib

In [ ]:
# page = urllib.request.urlopen(url1)
# soup = BeautifulSoup(page)

## Find All Links

In [ ]:
# find all links in the html
#all_links = soup.find_all("a")
#for link in all_links:
#    print(link.get("href"))